<!DOCTYPE html>
<html>
<head>
  <title>Scheeema</title>
  <%= stylesheet_link_tag    "scheeema/application", media: "all" %>
  <%= javascript_include_tag "scheeema/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
